<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>

<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
<script type="text/javascript" src="webjars/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>

<title>Amigo Oculto</title>
</head>
<body>

	<div class="container-fluid">
	
		<div class="jumbotron text-center">
			<h2 th:text="${ mensagem }"></h2>
		</div>
		
		<form action="#" th:action="@{/seedstartermng}" th:object="${seedStarter}" method="post">
		
			
		
		</form>
		
	</div>
	
</body>
</html>